<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Rollup</title>
	<link href="/static/css/basic.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/static/shared/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.js"></script>
</head>
<body>

    <div id="placeholder" style="width:600px;height:300px;"></div>

<script type="text/javascript">
$(function () {
    $.plot($("#placeholder"), [
        {% for rollup in data %}
            {
                label: "{{ rollup.properties }}",
                data: [
                    {% for i in range(24) %}
                        [ {{i}}, {{ rollup.data.hourly[i]}}],
                    {% endfor %}
                ]
            },
        {% endfor %}
    ]);
});
</script>

</body>
</html>
