<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Rollup</title>
	<link href="/static/css/basic.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/static/shared/jquery.min.js"></script>
	<script type="text/javascript" src="/static/shared/jqueryui.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.js"></script>
	<script type="text/javascript" src="/static/graph.js"></script>
	<script type="text/javascript" src="/static/events.js"></script>
</head>
<body>

    <form>
        Rollup Type:
        <select id="rollup_select" name="rollup_types">
            {% for type in config.aggregation %}
                <option value="{{type}}">{{type}}</option>
            {% endfor %}
        </select>
        Number of Days:
        <select id="days_select" name="number_of_days">
            {% for day in range(1, 10) %}
                <option value="{{day}}">{{day}}</option>
            {% endfor %}
        </select>
    </form>

    <p>Last updated: <span id="last_updated"></></p>
    <div id="graph" style="width:800px;height:300px;"></div>

    <div id="events"></div>

</body>
</html>
